<div class="hot-news-warp">
    <div class="hot-news-list clearfix">
        <div class="news-item">
            <div class="news-item-contain">
                <a class="mews-item-top" href="javascript:void(0)">
                    <img src="../../img/hotNews/ho-listt-img1.jpg" alt="<%= domain %>">
                    <h3>李笑来谈2018年区块链10大猜想</h3>
                </a>
                <p class="desc">
                    <i class="round"></i>
                    2罕为具体投资项目发声，iVeryOne是他除了Candy2罕为具体投资项目发声，iVeryOne是他除了Candy
                </p>
            </div>
        </div>
        <div class="news-item">
            <div class="news-item-contain">
                <a class="mews-item-top" href="javascript:void(0)">
                    <img src="../../img/hotNews/ho-listt-img1.jpg" alt="<%= domain %>">
                    <h3>李笑来谈2018年区块链10大猜想</h3>
                </a>
                <p class="desc">
                    <i class="round"></i>
                    2罕为具体投资项目发声，iVeryOne是他除了Candy2罕为具体投资项目发声，iVeryOne是他除了Candy
                </p>
            </div>
        </div>
        <div class="news-item">
            <div class="news-item-contain">
                <a class="mews-item-top" href="javascript:void(0)">
                    <img src="../../img/hotNews/ho-listt-img1.jpg" alt="<%= domain %>">
                    <h3>李笑来谈2018年区块链10大猜想</h3>
                </a>
                <p class="desc">
                    <i class="round"></i>
                    2罕为具体投资项目发声，iVeryOne是他除了Candy2罕为具体投资项目发声，iVeryOne是他除了Candy
                </p>
            </div>
        </div>
        <div class="news-item">
            <div class="news-item-contain">
                <a class="mews-item-top" href="javascript:void(0)">
                    <img src="../../img/hotNews/ho-listt-img1.jpg" alt="<%= domain %>">
                    <h3>李笑来谈2018年区块链10大猜想</h3>
                </a>
                <p class="desc">
                    <i class="round"></i>
                    2罕为具体投资项目发声，iVeryOne是他除了Candy2罕为具体投资项目发声，iVeryOne是他除了Candy
                </p>
            </div>
        </div>
        <div class="news-item">
            <div class="news-item-contain">
                <a class="mews-item-top" href="javascript:void(0)">
                    <img src="../../img/hotNews/ho-listt-img1.jpg" alt="<%= domain %>">
                    <h3>李笑来谈2018年区块链10大猜想</h3>
                </a>
                <p class="desc">
                    <i class="round"></i>
                    2罕为具体投资项目发声，iVeryOne是他除了Candy2罕为具体投资项目发声，iVeryOne是他除了Candy
                </p>
            </div>
        </div>
        <div class="news-item">
            <div class="news-item-contain">
                <a class="mews-item-top" href="javascript:void(0)">
                    <img src="../../img/hotNews/ho-listt-img1.jpg" alt="<%= domain %>">
                    <h3>李笑来谈2018年区块链10大猜想</h3>
                </a>
                <p class="desc">
                    <i class="round"></i>
                    2罕为具体投资项目发声，iVeryOne是他除了Candy2罕为具体投资项目发声，iVeryOne是他除了Candy
                </p>
            </div>
        </div>
    </div>
</div>

