@@include("public/header-prue-tdk.ejs", {
"plugin": ["http://static.huoxing24.com/assets/swiperv4/swiper.min.css"],
"private": ["../css/pc-publicity.css"]
})

<div class="publicity-main">
    <div class="pub-container" id="logo">
        <div class="top clearfix">
            <img src="../img/publicity/pc-logo.png" alt="">
            <a href="<%= domain %>/mtcsign<%= rootId %>" class="top-apply-btn"></a>
            <ul class="top-nav">
                <li>课程体系</li>
                <li>权威导师</li>
                <li>招生流程</li>
                <li>特训营风采</li>
                <li>特训营视频</li>
                <li>战略板块</li>
            </ul>
        </div>
    </div>
    <div class="pub-container mt">
        <div id="mydiv">
            <a href="<%= domain %>/mtcsign<%= rootId %>" class="apply-btn"></a>
        </div>
        <div class="page page1">
            <h2>火星特训营招生火热进行中</h2>
            <p>火星特训营（Mars Training
                Camp）是火星生态孵化出的区块链顶级培训品牌，致力成为区块链领域的黄埔军校，培养下一代“蓝血十杰”，打造中国区块链领域的YC孵化器，培养新一代区块链的破局者。</p>
            <img src="../img/publicity/pc-earth.png" alt="">
        </div>
        <div class="page page5">
            <h3>赋能时代破局者</h3>
            <div class="content clearfix">
                <div class="text">
                    <img src="../img/publicity/thought.png" alt="">
                    <h4>培养区块链思维</h4>
                    <p>全方位解析区块链技术本质，透析行业发展趋势、 全球政策走向，培养区块链产业思维。
                    </p>
                </div>
                <div class="text">
                    <img src="../img/publicity/apply.png" alt="">
                    <h4>实践区块链应用</h4>
                    <p>区块链经典案例专家解析，解决古典企业token化 改造难点，促进区块链技术落地与商业应用。
                    </p>
                </div>
                <div class="text">
                    <img src="../img/publicity/resource.png" alt="">
                    <h4>链接区块链产业资源</h4>
                    <p>集合全球顶尖区块链人物和产业资源，推动区块链产业合作和共赢，赋能优质的区块链项目稳步升级。
                    </p>
                </div>
            </div>
        </div>
        <div class="page page6" id="top0">
            <h3>最专业的课程体系</h3>
            <div class="content">
                <p>
                    <img src="../img/publicity/pc-page6.png" alt="">
                </p>
                <p>
                    <img src="../img/publicity/pc-page6-1.png" alt="">
                </p>
            </div>
        </div>
        <div class="page page7" id="top1">
            <h3>最权威的导师</h3>
            <img src="../img/publicity/pc-page7.png" alt="">
        </div>
        <div class="page page8" id="top2">
            <h3>招生对象和申请流程</h3>
            <img src="../img/publicity/pc-page8-1.png" alt="">
            <div class="content">
                <img src="../img/publicity/pc-page8-2.png" alt="">
            </div>
            <img src="../img/publicity/pc-page8-3.png" alt="">
            <a href="<%= domain %>/mtcsign<%= rootId %>" class="footer-apply-btn"></a>
        </div>
        <div class="page page9" id="top3">
            <h3>特训营风采</h3>
            <div class="picture-ball">
                <a href="javascript:;" class="picture-prev"> < </a>
                <div class="picture-img">
                    <img src="../img/publicity/xly-1.png" alt="">
                    <img src="../img/publicity/xly-2.png" alt="">
                    <img src="../img/publicity/xly-3.png" alt="">
                    <img src="../img/publicity/xly-4.png" alt="">
                    <img src="../img/publicity/xly-5.png" alt="">
                    <img src="../img/publicity/xly-6.png" alt="">
                    <img src="../img/publicity/xly-7.png" alt="">
                    <img src="../img/publicity/xly-8.png" alt="">
                </div>
                <a href="javascript:;" class="picture-next"> > </a>
            </div>
        </div id>
        <div class="page page10" id="top4">
            <h3>特训营视频</h3>
            <div class="swiper-container video-swiper">
                <div class="swiper-wrapper video-con">
                    <div class="swiper-slide">
                        <div class="video-item"
                             data-src="https://hx24-media.huoxing24.com/video/news/2018/09/04/20180904145534970345.mp4">
                            <a href="javascript:;" class="video-m"></a>
                            <img src="../img/publicity/interview-khw.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="video-item"
                             data-src="https://hx24-media.huoxing24.com/video/news/2018/09/04/20180904160550369717.mp4">
                            <a href="javascript:;" class="video-m"></a>
                            <img src="../img/publicity/interview-yym.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="video-item"
                             data-src="https://hx24-media.huoxing24.com/video/news/2018/09/04/20180904163931184484.mp4">
                            <a href="javascript:;" class="video-m"></a>
                            <img src="../img/publicity/interview-cr.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="video-item"
                             data-src="https://hx24-media.huoxing24.com/video/news/2018/09/13/20180913134041633941.mp4">
                            <a href="javascript:;" class="video-m"></a>
                            <img src="../img/publicity/interview-my.jpg" alt="">
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="video-item"
                             data-src="https://hx24-media.huoxing24.com/video/news/2018/09/13/20180913153822156565.mp4">
                            <a href="javascript:;" class="video-m"></a>
                            <img src="../img/publicity/interview-chn.jpg" alt="">
                        </div>
                    </div>
                </div>
                <a href="javascript:;" class="swiper-button-prev video-prev actionBtn"></a>
                <a href="javascript:;" class="swiper-button-next video-next actionBtn"></a>
                <div class="swiper-pagination video-page"></div>
            </div>
        </div>
        <div class="page subhead" id="top5">战略版块</div>
        <div class="page page2">
            <h3>火星财经</h3>
            <div class="content clearfix">
                <div class="text">
                    <p>火星财经上线三个月，已经跃升为区块链领域头部媒体，目前融资三轮，估值3.3亿。而投资孵化器“共识实验室”</p>
                    <p>
                        成立两个月以来，已投资近20个优质项目。《王峰十问》则相继对话过22位顶级大咖，包括著名区块链投资人薛蛮子、郭宏才（宝二爷）、李笑来、赵东、陈伟星，著名区块链项目方量子链帅初、亦来云陈榕、波场孙宇晨等，互联网大咖美图董事长蔡文胜、锤子手机罗永浩、360董事长周鸿祎等，包括十问马云创办的湖畔大学教育长曾鸣。</p>
                </div>
                <div class="img">
                    <img src="../img/publicity/pc-page2.jpg" alt="">
                    <!--<div class="swiper-lazy-preloader"></div>-->
                </div>
            </div>
        </div>
        <div class="page page3">
            <h3>火星特训营</h3>
            <div class="content clearfix">
                <div class="img">
                    <img src="../img/publicity/pc-page3.jpg" alt="">
                </div>
                <div class="text">
                    火星特训营（Mars Training
                    Camp）是火星生态孵化出的区块链顶级培训品牌，致力成为区块链领域的黄埔军校，培养下一代“蓝血十杰”。同时联合火星生态旗下“共识实验室”（一家专业面向区块链行业研究、投资与孵化的投研机构），携手15位顶级导师及12个顶级投资方，为每届筛选的36位精英创业者及投资人提供全方位的孵化，为优质的毕业项目全面赋能，提供资金和资源等深度孵化与全面对接，旨在辅助创业者将企业进行区块链升级，打造中国区块链领域的YC孵化器，培养新一代区块链的破局者。
                </div>
            </div>
        </div>
        <div class="page page4">
            <h3>共识实验室</h3>
            <div class="content clearfix">
                <div class="text">
                    火星财经大力推动生态化发展，于2018年4月成立共识实验室(ConsensusLab)区块链投研机构。共识实验室是火星财经生态中的一支研究型投资基金，其核心研究方向将重点关注区块链技术与应用型项目以及国际化能力。这只基金业也获得了一大批区块链行业先锋人物的支持，并与一线投资基金保持开放和合作，希望可以赋能于立志用区块链技术推动社会进步的群体，目前已经投资了Merculet,Quark,Bumo,Ankr,Newton,DCC,Carblock,
                    Hashgard,Hashfuture,FInsur等众多区块链项目。
                </div>
                <div class="img">
                    <img src="../img/publicity/pc-page4.jpg" alt="">
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-in">
                <img src="../img/publicity/pc-footer-logo1.png" alt="">
                <img src="../img/publicity/pc-footer-logo2.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="video-module">
    <div class="video-box">
        <a href="javascript:;" class="close-video"><i class="iconfont iconfont-close"></i></a>
        <video src="" id="video-player" controls>您的浏览器不支持H5播放器，请升级您的浏览器</video>
    </div>
</div>

@@include("public/footer-prue.ejs", {
"plugin": ["http://static.huoxing24.com/assets/swiper.jquery.min.js"],
"private": ["../js/pc-publicity.js"],
"shreTitle": "<%= webSiteInfo.title %>",
"shareDesc": "<%= webSiteInfo.description %>",
"shareImgurl": "http://static.huoxing24.com/images/wxshare-icon.png"
})
