<%
// 加0
const add0 = (num) => {
    return num >= 10 ? num : '0' + num
}

// 获取时分
const getHourMinute = (time) => {
    const curDate = new Date()
    const curY = curDate.getFullYear()
    const curM = curDate.getMonth() + 1
    const curD = curDate.getDate()

    const timeTemp = new Date(time)
    const timeY = timeTemp.getFullYear()
    const timeM = timeTemp.getMonth() + 1
    const timeD = timeTemp.getDate()
    const timeH = timeTemp.getHours()
    const timeE = timeTemp.getMinutes()

    if (timeY === curY && timeM === curM && timeD === curD) {
        return `${add0(timeH)}:${add0(timeE)}`
    } else if ((timeY === curY && timeM === curM && timeD < curD) || (timeY === curY && timeM < curM)) {
        return `${add0(timeM)}月${add0(timeD)}日  ${add0(timeH)}:${add0(timeE)}`
    } else if (timeY < curY) {
        return `${timeY}年${add0(timeM)}月${add0(timeD)}日  ${add0(timeH)}:${add0(timeE)}`
    }
}
%>
<div class="flash-news-content clearfix">
    <% adImg.map((item) => { %>
    <a class="activity-ad" href="<%= item.url %>" target="_blank" title="<% item.title %>"><img
                src="<%= item.img_url %>" alt="<% item.title %>"></a>
    <% }) %>
    <div class="flash-news-main">
        <div class="flash-news-top">
            <div class="news-head">
                <em class="active" data-channelid="">全部</em>
                <% flashNav.map((item) => { %>
                <% if(parseInt(item.channelId) !== 0 && parseInt(item.channelId) !== 11) { %>
                <em data-channelid=<%= item.channelId %>><%= item.channelName %></em>
                <% } %>
                <% }) %>
            </div>
            <!-- 前7天 -->
            <ul class="news-date"></ul>
        </div>
        <ul id="liveNewsContain" class="flash-news-list">
            <%
            data.inforList.map((item) => {
                let title = ''
                let content = item.content
                if (!item.title) {
                    let startIndex = item.content.indexOf('【') === -1 ? 0 : item.content.indexOf('【') + 1
                    let endIndex = item.content.indexOf('】') === -1 ? 0 : item.content.indexOf('】')
                    title = item.content.substring(startIndex, endIndex)
                    content = item.content.substring(endIndex + 1)
                } else {
                    title = item.title
                    content = item.content
                }
            %>
            <li class="flash-news" data-created="<%= item.createdTime %>">
                <div class="news-item">
                    <div class="<%= parseInt(item.tag) === 2 ? 'item-icons import' : 'item-icons' %>">
                        <div class="round"></div>
                        <div class="time-left"><%= getHourMinute(item.createdTime) %></div>
                    </div>
                    <a class="" href="<%= domain %>/liveNewsDetail/<%= item.id %>.html%>">
                        <h1 class="<%= parseInt(item.tag) === 2 ? 'news-title import' : 'news-title' %>"><%= title %></h1>
                    </a>
                    <h2 data-id="<%= item.id %>" class="news-detail">
                        <%= content %>
                        <%
                        if (!item.url) { %>
                        <% } else { %>
                        <a rel="nofollow" title="查看原文" href="javascript:void(0)" data-url="<%= item.url %>"
                           style="color: #0a7ff2" target="_blank"> 「查看原文」</a>
                        <% }
                        %>
                    </h2>
                    <%
                    if (!item.images) {
                    }else { %>
                    <img alt="<%= !item.imagesRemark ? title : item.imagesRemark %>" src="<%= item.images %>"/>
                    <% }
                    %>
                    <div class="judge-profit">
                        <p data-status="1" data-id="<%= item.id %>"
                           class="good-profit <%= !item.type || parseInt(item.type) !== 1 ? '' : 'active' %>">
                            <i class="iconfont iconfont-trend-up"></i>
                            <span>利好</span>
                            <span class="num"> <%= !item.upCounts ? 0 : item.upCounts %> </span>
                        </p>
                        <p data-status="0" data-id="<%= item.id %>"
                           class="bad-profit <%= parseInt(item.type) === 0 ? 'active' : '' %>">
                            <i class="iconfont iconfont-trend-down"></i>
                            <span>利空</span>
                            <span class="num"> <%= !item.downCounts ? 0 : item.downCounts %> </span>
                        </p>
                    </div>
                </div>
            </li>
            <%
            })
            %>
        </ul>
        <div class="clearfix"></div>
        <div data-currpage="<%= data.currentPage %>" data-pagecount="<%= data.pageCount %>"
             class="check-more-load clearfix">查看更多
        </div>
    </div>
    <div class="hot-news-wrap">
        <div class="hot-news-box">
            <div class="aside-section">
                <div class="aside-title-name clearfix"><span class="aside-title-title">热门新闻</span></div>
                <div class="aside-title">
                    <div class="aside-title-con">
                        <div class="news-recommend clearfix" style="width: 318px;">
                            <div class="new-list-box"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="aside-box">
            <div class="aside-section">
                <div class="aside-title-name clearfix"><span class="aside-title-title">新闻排行</span></div>
                <div class="aside-title">
                    <div class="aside-title-con">
                        <div class="news-sort clearfix" style="width: 318px;">
                            <div class="news-sort-box">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
