<%
const formatDate = (date, str) => {
    // let _str = !str ? '-' : str
    const zero = (m) => {
        return m < 10 ? '0' + m : m
    }
    let time = new Date(date)
    let y = time.getFullYear()
    let m = time.getMonth() + 1
    let d = time.getDate()
    if (date) {
        return zero(m) + '-' + zero(d)
    } else {
        return ''
    }
}
const getTimeContent = (publishTime, requestTime) => {
    let limit = parseInt((requestTime - publishTime)) / 1000
    let content = ''
    if (limit < 60) {
        content = '刚刚'
    } else if (limit >= 60 && limit < 3600) {
        content = Math.floor(limit / 60) + '分钟前'
    } else if (limit >= 3600 && limit < 86400) {
        content = Math.floor(limit / 3600) + '小时前'
    } else {
        content = formatDate(publishTime)
    }
    return content
}
%>
<div class="news" data-id="<%= newsData.channelId %>">
    <div class="news-nav">
        <div class="nav-box" id="newsTabs">
            <%
            newsData.newsNav.map((item) => {
                // 不显示channelId = 1的分类
            if (parseInt(item.channelId) !== 1) {
            %>
            <a title="<%= item.label %>" data-id="<%= item.channelId %>" href="<%= domain %>/news/<%= item.channelId %>"
               class="<%= parseInt(item.channelId) === parseInt(newsData.searchId) ? 'active' : '' %>">
                <h5><%= item.channelName %></h5>
                <font class="<%= parseInt(item.channelId) === 0 ? 'active' : '' %>"></font>
            </a>
            <%
            }
            })
            %>
        </div>
    </div>
    <div class="news-con news-box-con clearfix">
        <div class="news-list-wrap block-style clearfix">
            <div id="newsListContent">
                <% if (newsData.getNewsData.inforList.length !== 0) { %>
                <% newsData.getNewsData.inforList.map((item) => { %>
                <div class="index-news-list">
                    <a title="<%= item.title %>" target="_blank"
                           href="<%= domain %>/newsdetail/<%= `${item.id}.html` %>">
                        <div class="list-left">
                            <img src="<%= (!item.coverPic || !JSON.parse(item.coverPic).pc ? `http://static.huoxing24.com/images/2018/03/05/1520243882098653.svg` : JSON.parse(item.coverPic).pc) %>"
                                 alt="<%= item.title %>">
                        </div>
                        <div class="list-right" style="width: 560px;">
                            <h1 class="headline"><%= item.title %></h1>
                            <h3 class="details"><%= item.synopsis %></h3>
                        </div>
                    </a>
                    <div class="list-bottom index-mian clearfix">
                        <!--<p class="portrait">-->
                        <!--<a title="<%= item.author %>" target="_blank" href="<%= domain %>/newsauthor/<%= item.passportId %>">-->
                        <!--<img alt="<%= item.author %>" src="<%= item.iconUrl %>">-->
                        <!--</a>-->
                        <!--</p>-->
                        <h4 class="name"><%= item.cateId === 1 ? item.nickName : item.author %></h4>
                        <p class="lock-time"><%= getTimeContent(item.publishTime, newsData.getNewsData.currentTime) %></p>
                        <p class="read-num main-read-num">
                            <span class="count-eye">关键字:</span>
                            <%
                                let arr = !item.tags ? '' : item.tags.split(',')
                            arr.map((item, index) => {
                            if (index === 0) { %>
                            <a title="<%= item %>" target="_blank" href="<%= domain %>/hot/<%= item %>"><%= item %></a>
                            <% } else if (index > 0 && index <= 2) { %>
                            , <a title="<%= item %>" target="_blank"
                                 href="<%= domain %>/hot/<%= item %>"><%= item %></a>
                            <% }})
                            %>
                        </p>
                    </div>
                    <div class="shadow"></div>
                </div>
                <% }) %>
                <% } else { %>
                <div class="index-news-list not-cont">暂无内容</div>
                <% } %>
            </div>
            <div class="clearfix"></div>
            <% if (newsData.getNewsData.recordCount > 10) { %>
            <div data-time="<%= newsData.getNewsData.inforList[newsData.getNewsData.inforList.length - 1].publishTime %>"
                 data-currpage="<%= newsData.getNewsData.currentPage %>"
                 data-pagecount="<%= newsData.getNewsData.pageCount %>"
                 class="check-more-load clearfix">查看更多
            </div>
            <% } %>
        </div>
        <div class="new-right">
            <div class="ad-recomend">
                <div class="aside-section">
                    <div class="aside-title-name clearfix"><span class="aside-title-title">热门新闻</span></div>
                    <div class="aside-title">
                        <div class="aside-title-con">
                            <div class="news-recommend clearfix" style="width: 318px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
